apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wg-vpn

resources:
  - ../namespace.yaml
  - ../entry-configmap.yaml
  - ../core-configmap.yaml
  - ../entry-deployment.yaml
  - ../core-daemonset.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: db-migrations
    files:
      - ../../../db/migrations/202602090001_initial_schema.sql
      - ../../../db/migrations/202602100002_revoked_tokens.sql
      - ../../../db/migrations/202602100003_consumer_model.sql
